section {
    width: 100%;
    background: whitesmoke;
}

.aboutus {
    height: 50rem;
}

.aboutus-heading {
    text-align: center;
    padding-top: 4.5rem;
    font-family: "Comfortaa", sans-serif;
}

.aboutus-content {
    padding-top: 2rem;
    margin: 0 25rem;
    text-align: justify;
    line-height: 2rem;
    font-family: "Poppins", sans-serif;
}

@media (max-width: 64rem) {
    .aboutus-content {
        margin: 0 10rem;
    }

    .aboutus {
        height: 55rem;
    }
}

@media (max-width: 48rem) {
    .aboutus-content {
        margin: 0 8rem;
    }

    .aboutus {
        height: 80rem;
    }
}

@media (max-width: 40rem) {
    .aboutus-content {
        margin: 0 2rem;
    }

    .aboutus {
        height: 80rem;
    }
}

@media (min-width: 48rem) {
    .aboutus-content {
        margin: 0 auto;
        max-width: 44rem;
    }

}